/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Aug, 2016, 2:03:24 PM
    Author     : lucentinnovation
*/

//dropdowns
.has_dropdown{
    position: relative;
    .btn{
        display: block;
        text-align: left;
    }
    .header{
        font-size: 18px;
        font-weight: bold;
        border: 1px solid #ddd;
        padding-bottom: 10px;
        cursor: pointer;
        margin: 0;
        padding: 15px;
        position: relative;    

        i{
            position: absolute;
            right: 10px;
        }
    }
    .drop_down_click,.drop_down_hover{
        display: none;
        @media(min-width:1025px){
            position: absolute;
        }
        background: #fafafa;
        border: 1px solid #ddd;
        z-index: 100;
        width:100%;
        will-change: opacity, transform;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        &:hover{
            box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
        }
        li,div{
            cursor: pointer;
            padding: 8px 15px;
            &:hover{
                background-color: #4f6b79;
                color:#fff;
                a{
                    color:#fff;
                }
            }
        }
    }
}