/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Aug, 2016, 1:48:59 PM
    Author     : lucentinnovation
*/

//navbar
$navbar_background:#233445;
$navbar_font_color:#fff;
$navbar_active: #f05d7c;
$navbar_hover: #f05d7c;
$drop_down_color:#325273;

*{
 -webkit-tap-highlight-color:rgba(0,0,0,0);   
 -moz-tap-highlight-color:rgba(0,0,0,0);   
 -o-tap-highlight-color:rgba(0,0,0,0);   
 tap-highlight-color:rgba(0,0,0,0);   
}
.overflow_hidden{
    overflow: hidden;
}
.static_postion{
    position: static !important;
}
.mainContent{
       -webkit-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -moz-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -o-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -ms-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
}
.deactive{
    transform: translateX(250px);
    -moz-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -o-transform: translateX(250px);

}
//navbar
nav{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

    background: $navbar_background;
    @media(max-width:1024px){
        width:100%;
    }
    &:after{
        clear:both;
        content: '';
        display: table;
    }
}
.nav_fixed{
    position: fixed;
    width:100%;
    z-index: 9999;
    &.fix_nav_height{
        height: 100%;   
    }
}

.menu_wrapper{
    @media(min-width:1025px){
        display:table;
        width:100%;    
    }
    .brand_name{
        color:$navbar_font_color;
        @media(min-width:1025px){
            display: table-cell;
            width:10%;
            text-align:left;
        }
        @media(max-width:1024px){
            padding:10px 25px;
            float:left;
        }
        vertical-align: middle;
        padding:0 15px;
        text-align: center;
        img{
            max-width: 100%;
            @media(max-width:1024px){
                max-width:50%;
            }
        }
    }
    .close_btn{
        position: relative;
        float:right;
        right: 15px;
        font-size: 25px;
        
        padding-top: 13px;
        color: $navbar_font_color;
        @media(min-width:1025px){
            display:none;
            padding-top: 6px;
        }
    }
    .main_menu{
        @media(min-width:1025px){
            width:90%;
            display:table-cell;
        }
        @media(max-width:1024px){
            display: none;
            padding:0; 
            clear:both;
        }
        vertical-align: middle;
        padding:0 15px;                       
        &.menu_right{
            text-align: right;
            padding: 0;
        }
        &.menu_center{
            text-align: center;
        }
        .main_ul{
            li{
                @media(max-width:1024px){
                    display: list-item;
                    text-align: left;
                    margin-left:0px;
                    padding:0 !important;
                }
                position: relative;
                transition: .5s all;
                display: inline-block;
                vertical-align: middle;

                cursor: pointer;
                margin-left:-4px;
                color:$navbar_font_color;
                &.active{
                    background-color: $navbar_active;
                }
                &:hover{
                    background-color: $navbar_hover;
                }
                >a{
                    @media(max-width:1024px){
                        padding:15px 10px;
                    }
                    padding:20px 15px;
                    display:block;    
                }
                a{
                    text-decoration: none;
                    color:$navbar_font_color;
                    i{
                        margin-right: 5px;
                    }
                    @media(max-width:1240px){
                        font-size:12px;
                    }
                }

            }
            .drop_down_hover,.drop_down_click{
                @media(min-width:1025px){
                    position: absolute;
                    width:150px;
                    margin:0;
                }
                margin:10px 0; 
                top:100%;
                left:0;
                width:100%;
                border: none;
                background-color: $drop_down_color;
                height: auto;
                display: none;
                text-align:left;
                li{
                    padding: 10px;
                    display: list-item;
                    margin-left: 0;
                    a{
                        @media(max-width:1024px){
                            padding:10px;
                        }
                        padding:0;
                    }
                }
            }
            .has_dropdown{
                border: none;
                cursor: pointer;

                i{
                    text-indent: 5px;
                }
                &:hover{
                    background-color: $navbar_background;
                }
                .drop_down_hover,.drop_down_click{
                    display: none;
                }
            }
        }
    }
}
.mobile_drawer{
    position: fixed;
    top:0;
    bottom:0;
    left:-250px;
    /*height: 100%;*/
    overflow: auto;
    z-index: 99999;
    background: $navbar_background;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -webkit-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -moz-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -o-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    -ms-transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    transition: 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
    width:250px;
    &.active{
        transform: translateX(250px);
        -moz-transform: translateX(250px);
        -webkit-transform: translateX(250px);
        -o-transform: translateX(250px);
    }
    .drawer_close{
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 35px;
        color: #fff;
        cursor: pointer;
        min-width: 30px;
    }
    .main_ul{
        margin-top:70px;
        li{
            display: block;
            text-align: left;
            cursor: pointer;
            color:$navbar_font_color;
            &.active{
                background-color: $navbar_active;
            }
            &:hover{
                background-color: $navbar_hover;
            }
            >a{
                padding:15px 70px 15px 10px;
                display:block;    
                min-width: 230px;
                @media(max-width:380px){
                    min-width: 200px;
                }
            }
            a{
                text-decoration: none;
                color:$navbar_font_color;
                i{
                    margin-right: 5px;
                }
                @media(max-width:1240px){
                    font-size:12px;
                }
            }

        }
        .drop_down_hover,.drop_down_click{
            /*top:100%;*/
            /*left:0;*/
            /*width:100%;*/
            border: none;
            background-color: $drop_down_color;
            height: auto;
            display: none;
            position: static;
            text-align:left;
            li{
                padding: 0px;
                display: block;
                margin-left: 0;
                a{
                    padding:10px;
                }
            }
        }
        .has_dropdown{
            border: none;
            cursor: pointer;

            i{
                text-indent: 5px;
            }
            &:hover{
                background-color: $navbar_background;
            }
            .drop_down_hover,.drop_down_click{
                display: none;
            }
        }
    }
}