/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 Jul, 2016, 12:05:12 PM
    Author     : lucentinnovation
*/

$font_normal: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font_color:#666;
$body_background:#fff;

//navbar
$navbar_background:#233445;
$navbar_font_color:#fff;
$navbar_active: #f05d7c;
$navbar_hover: #f05d7c;
$drop_down_color:#325273;

//buttons
$btn_primary_font_color:#fff;
$btn_primary_background_color:#337a9e;
$btn_primary_hover_color:#4f6b79;
$btn_danger_font_color:#fff;
$btn_danger_background_color:#f13058;
$btn_danger_hover_color:#f05d7c;
$btn_warning_font_color:#fff;
$btn_warning_background_color:#f5a027;
$btn_warning_hover_color:#e88800;
$btn_success_font_color:#fff;
$btn_success_background_color:#26a69a;
$btn_success_hover_color:#14c5b4;
$btn_info_font_color:#fff;
$btn_info_background_color:#46b8da;
$btn_info_hover_color:#00acde;
$btn_plus_font_color:#fff;
$btn_plus_background_color:#F44336;
$btn_plus_hover_color:#ff1100;

//table
$thead_background:#37474f;
$th_font_color:#fff;
$row_background_color:#f5f5f5;
$row_hover_color:#f2f2f2;
$table_border_color:#ddd;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    font-family: $font_normal;
    font-size: 14px;
    line-height: 1.42857143;
    color: $font_color;
    background-color: $body_background;
}
h1,h2,h3,h4,h5,h6 {
    line-height: 1.1;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}
h3 {
    font-size: 2.92rem;
    line-height: 110%;
    margin: 1.46rem 0 1.168rem 0;
}
h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.14rem 0 0.912rem 0;
}
h5 {
    font-size: 1.64rem;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
}
h6 {
    font-size: 1rem;
    line-height: 110%;
    margin: 0.5rem 0 0.4rem 0;
}
p{
    font-weight: normal;
    line-height: 110%;
    margin-bottom: 1em;
}
em {
    font-style: italic;
}
small {
    font-size: 75%
}
img {
    vertical-align: middle;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: 100%;
}


/*Grid*/
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-11 {
    width: 91.66666667%;
}
.col-xs-10 {
    width: 83.33333333%;
}
.col-xs-9 {
    width: 75%;
}
.col-xs-8 {
    width: 66.66666667%;
}
.col-xs-7 {
    width: 58.33333333%;
}
.col-xs-6 {
    width: 50%;
}
.col-xs-5 {
    width: 41.66666667%;
}
.col-xs-4 {
    width: 33.33333333%;
}
.col-xs-3 {
    width: 25%;
}
.col-xs-2 {
    width: 16.66666667%;
}
.col-xs-1 {
    width: 8.33333333%;
}
.col-xs-pull-12 {
    right: 100%;
}
.col-xs-pull-11 {
    right: 91.66666667%;
}
.col-xs-pull-10 {
    right: 83.33333333%;
}
.col-xs-pull-9 {
    right: 75%;
}
.col-xs-pull-8 {
    right: 66.66666667%;
}
.col-xs-pull-7 {
    right: 58.33333333%;
}
.col-xs-pull-6 {
    right: 50%;
}
.col-xs-pull-5 {
    right: 41.66666667%;
}
.col-xs-pull-4 {
    right: 33.33333333%;
}
.col-xs-pull-3 {
    right: 25%;
}
.col-xs-pull-2 {
    right: 16.66666667%;
}
.col-xs-pull-1 {
    right: 8.33333333%;
}
.col-xs-pull-0 {
    right: auto;
}
.col-xs-push-12 {
    left: 100%;
}
.col-xs-push-11 {
    left: 91.66666667%;
}
.col-xs-push-10 {
    left: 83.33333333%;
}
.col-xs-push-9 {
    left: 75%;
}
.col-xs-push-8 {
    left: 66.66666667%;
}
.col-xs-push-7 {
    left: 58.33333333%;
}
.col-xs-push-6 {
    left: 50%;
}
.col-xs-push-5 {
    left: 41.66666667%;
}
.col-xs-push-4 {
    left: 33.33333333%;
}
.col-xs-push-3 {
    left: 25%;
}
.col-xs-push-2 {
    left: 16.66666667%;
}
.col-xs-push-1 {
    left: 8.33333333%;
}
.col-xs-push-0 {
    left: auto;
}
.col-xs-offset-12 {
    margin-left: 100%;
}
.col-xs-offset-11 {
    margin-left: 91.66666667%;
}
.col-xs-offset-10 {
    margin-left: 83.33333333%;
}
.col-xs-offset-9 {
    margin-left: 75%;
}
.col-xs-offset-8 {
    margin-left: 66.66666667%;
}
.col-xs-offset-7 {
    margin-left: 58.33333333%;
}
.col-xs-offset-6 {
    margin-left: 50%;
}
.col-xs-offset-5 {
    margin-left: 41.66666667%;
}
.col-xs-offset-4 {
    margin-left: 33.33333333%;
}
.col-xs-offset-3 {
    margin-left: 25%;
}
.col-xs-offset-2 {
    margin-left: 16.66666667%;
}
.col-xs-offset-1 {
    margin-left: 8.33333333%;
}
.col-xs-offset-0 {
    margin-left: 0%;
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }
    .col-sm-12 {
        width: 100%;
    }
    .col-sm-11 {
        width: 91.66666667%;
    }
    .col-sm-10 {
        width: 83.33333333%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-8 {
        width: 66.66666667%;
    }
    .col-sm-7 {
        width: 58.33333333%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-5 {
        width: 41.66666667%;
    }
    .col-sm-4 {
        width: 33.33333333%;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-2 {
        width: 16.66666667%;
    }
    .col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-pull-12 {
        right: 100%;
    }
    .col-sm-pull-11 {
        right: 91.66666667%;
    }
    .col-sm-pull-10 {
        right: 83.33333333%;
    }
    .col-sm-pull-9 {
        right: 75%;
    }
    .col-sm-pull-8 {
        right: 66.66666667%;
    }
    .col-sm-pull-7 {
        right: 58.33333333%;
    }
    .col-sm-pull-6 {
        right: 50%;
    }
    .col-sm-pull-5 {
        right: 41.66666667%;
    }
    .col-sm-pull-4 {
        right: 33.33333333%;
    }
    .col-sm-pull-3 {
        right: 25%;
    }
    .col-sm-pull-2 {
        right: 16.66666667%;
    }
    .col-sm-pull-1 {
        right: 8.33333333%;
    }
    .col-sm-pull-0 {
        right: auto;
    }
    .col-sm-push-12 {
        left: 100%;
    }
    .col-sm-push-11 {
        left: 91.66666667%;
    }
    .col-sm-push-10 {
        left: 83.33333333%;
    }
    .col-sm-push-9 {
        left: 75%;
    }
    .col-sm-push-8 {
        left: 66.66666667%;
    }
    .col-sm-push-7 {
        left: 58.33333333%;
    }
    .col-sm-push-6 {
        left: 50%;
    }
    .col-sm-push-5 {
        left: 41.66666667%;
    }
    .col-sm-push-4 {
        left: 33.33333333%;
    }
    .col-sm-push-3 {
        left: 25%;
    }
    .col-sm-push-2 {
        left: 16.66666667%;
    }
    .col-sm-push-1 {
        left: 8.33333333%;
    }
    .col-sm-push-0 {
        left: auto;
    }
    .col-sm-offset-12 {
        margin-left: 100%;
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-sm-offset-9 {
        margin-left: 75%;
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-sm-offset-6 {
        margin-left: 50%;
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-sm-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66666667%;
    }
    .col-md-10 {
        width: 83.33333333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66666667%;
    }
    .col-md-7 {
        width: 58.33333333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66666667%;
    }
    .col-md-4 {
        width: 33.33333333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66666667%;
    }
    .col-md-1 {
        width: 8.33333333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66666667%;
    }
    .col-md-pull-10 {
        right: 83.33333333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66666667%;
    }
    .col-md-pull-7 {
        right: 58.33333333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66666667%;
    }
    .col-md-pull-4 {
        right: 33.33333333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66666667%;
    }
    .col-md-pull-1 {
        right: 8.33333333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66666667%;
    }
    .col-md-push-10 {
        left: 83.33333333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66666667%;
    }
    .col-md-push-7 {
        left: 58.33333333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66666667%;
    }
    .col-md-push-4 {
        left: 33.33333333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66666667%;
    }
    .col-md-push-1 {
        left: 8.33333333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}
@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-12 {
        width: 100%;
    }
    .col-lg-11 {
        width: 91.66666667%;
    }
    .col-lg-10 {
        width: 83.33333333%;
    }
    .col-lg-9 {
        width: 75%;
    }
    .col-lg-8 {
        width: 66.66666667%;
    }
    .col-lg-7 {
        width: 58.33333333%;
    }
    .col-lg-6 {
        width: 50%;
    }
    .col-lg-5 {
        width: 41.66666667%;
    }
    .col-lg-4 {
        width: 33.33333333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.66666667%;
    }
    .col-lg-1 {
        width: 8.33333333%;
    }
    .col-lg-pull-12 {
        right: 100%;
    }
    .col-lg-pull-11 {
        right: 91.66666667%;
    }
    .col-lg-pull-10 {
        right: 83.33333333%;
    }
    .col-lg-pull-9 {
        right: 75%;
    }
    .col-lg-pull-8 {
        right: 66.66666667%;
    }
    .col-lg-pull-7 {
        right: 58.33333333%;
    }
    .col-lg-pull-6 {
        right: 50%;
    }
    .col-lg-pull-5 {
        right: 41.66666667%;
    }
    .col-lg-pull-4 {
        right: 33.33333333%;
    }
    .col-lg-pull-3 {
        right: 25%;
    }
    .col-lg-pull-2 {
        right: 16.66666667%;
    }
    .col-lg-pull-1 {
        right: 8.33333333%;
    }
    .col-lg-pull-0 {
        right: auto;
    }
    .col-lg-push-12 {
        left: 100%;
    }
    .col-lg-push-11 {
        left: 91.66666667%;
    }
    .col-lg-push-10 {
        left: 83.33333333%;
    }
    .col-lg-push-9 {
        left: 75%;
    }
    .col-lg-push-8 {
        left: 66.66666667%;
    }
    .col-lg-push-7 {
        left: 58.33333333%;
    }
    .col-lg-push-6 {
        left: 50%;
    }
    .col-lg-push-5 {
        left: 41.66666667%;
    }
    .col-lg-push-4 {
        left: 33.33333333%;
    }
    .col-lg-push-3 {
        left: 25%;
    }
    .col-lg-push-2 {
        left: 16.66666667%;
    }
    .col-lg-push-1 {
        left: 8.33333333%;
    }
    .col-lg-push-0 {
        left: auto;
    }
    .col-lg-offset-12 {
        margin-left: 100%;
    }
    .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }
    .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }
    .col-lg-offset-9 {
        margin-left: 75%;
    }
    .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }
    .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }
    .col-lg-offset-6 {
        margin-left: 50%;
    }
    .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }
    .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }
    .col-lg-offset-3 {
        margin-left: 25%;
    }
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }
    .col-lg-offset-0 {
        margin-left: 0%;
    }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after {
    content: " ";
    display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after {
    clear: both;
}

/*end of grid*/
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.lg-hide{
    @media(min-width:1200px){
        display:none;
    }
}
.md-hide{
    @media(max-width:1024px){
        display:none;
    }
}
.sm-hide{
    @media(max-width:991px){
        display:none;
    }
}
.xs-hide{
    @media(max-width:767px){
        display:none;
    }
}
.lg-show{
    @media(min-width:1200px){
        display:block;
    }
}
.md-show{
    @media(max-width:1024px){
        display:block;
    }
}
.sm-show{
    @media(max-width:991px){
        display:block;
    }
}
.xs-show{
    @media(max-width:767px){
        display:block;
    }
}
.display-table{
    display: table;
    width:100%;
}
.display-block{
    display: block;
}
.display-inline-block{
    display: inline-block;
}
.display-inline{
    display: inline;
}
.display-table-cell{
    display: table-cell;
}
.fixed{
    position: fixed;
}


//drop_down


//navbar
nav{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    background: $navbar_background;
    @media(max-width:1024px){
        position:fixed;
        width:100%;
    }
}
.nav_fixed{
    position: fixed;
    width:100%;
    z-index: 1;
}
.menu_wrapper{
    @media(min-width:1025px){
        display:table;
        width:100%;    
    }
    .brand_name{
        color:$navbar_font_color;
        @media(min-width:1025px){
            display: table-cell;
            width:10%;
        }
        @media(max-width:1024px){
            padding:10px 25px;
            float:left;
        }
        vertical-align: middle;
        padding:0 15px;
        text-align: center;
        img{
            max-width: 100%;
            @media(max-width:1024px){
                max-width:50%;
            }
        }
    }
    .close_btn{
        position: relative;
        float:right;
        right: 15px;
        font-size: 50px;
        color: $navbar_font_color;
        @media(min-width:1025px){
            display:none;
        }
    }
    .main_menu{
        @media(min-width:1025px){
            width:90%;
            display:table-cell !important;
        }
        @media(max-width:1024px){
            display: none;
            padding:0; 
            clear:both;
        }
        vertical-align: middle;
        padding:0 15px;                       
        &.menu_right{
            text-align: right;
        }
        &.menu_center{
            text-align: center;
        }
        .main_ul{
            li{
                @media(max-width:1024px){
                    display: list-item;
                    text-align: left;
                    margin-left:5px;
                }
                position: relative;
                transition: .5s all;
                display: inline-block;
                vertical-align: middle;
                padding:20px 15px;
                margin-left:-4px;
                color:$navbar_font_color;
                @media(max-width:1240px){
                    padding:20px 10px;
                }
                &.active{
                    background-color: $navbar_active;
                }
                &:hover{
                    background-color: $navbar_hover;
                }
                a{
                    text-decoration: none;
                    color:$navbar_font_color;
                    @media(max-width:1240px){
                        font-size:12px;
                    }
                }
                
            }
            .drop_down_hover,.drop_down_click{
                    @media(min-width:1025px){
                        position: absolute;
                        width:150px;
                        margin:0;
                    }
                    margin:10px 0; 
                    top:100%;
                    left:0;
                    width:100%;
                    background-color: $drop_down_color;
                    height: auto;
                    display: none;
                    text-align:left;
                    li{
                        padding: 10px;
                        display: list-item;
                        margin-left: 0;
                        a{

                        }
                    }
                }
            .has_dropdown{
                cursor: pointer;
                i{
                    text-indent: 5px;
                }
                &:hover{
                    background-color: $navbar_background;
                }
            }
        }
    }
}

.btn{
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    border-radius: 1px;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    outline: none;
    border: 1px solid;
    white-space: nowrap;
    &:hover{
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
    }
}
.btn-primary{
    background-color: $btn_primary_background_color;
    border-color:  $btn_primary_background_color;
    color: $btn_primary_font_color;
    border-radius: 1px;
    &:hover{
        background-color: $btn_primary_hover_color;
        border-color: $btn_primary_hover_color;
    }
}
.btn-danger{
    background-color: $btn_danger_background_color;
    border-color:  $btn_danger_background_color;
    color: $btn_danger_font_color;
    border-radius: 1px;
    &:hover{
        background-color: $btn_danger_hover_color;
        border-color: $btn_danger_hover_color;
    }
}
.btn-warning{
    background-color: $btn_warning_background_color;
    border-color:  $btn_warning_background_color;
    color: $btn_warning_font_color;
    border-radius: 1px;
    &:hover{
        background-color: $btn_warning_hover_color;
        border-color: $btn_warning_hover_color;
    }
}
.btn-success{
    background-color: $btn_success_background_color;
    border-color:   $btn_success_background_color;
    color: $btn_success_font_color;
    border-radius: 1px;
    &:hover{
        background-color: $btn_success_hover_color;
        border-color: $btn_success_hover_color;
    }
}
.btn-info{
    background-color: $btn_info_background_color;
    border-color: $btn_info_background_color;
    color: $btn_info_font_color;
    border-radius: 1px;
    &:hover{
        background-color: $btn_info_hover_color;
        border-color: $btn_info_hover_color;
    }
}
.btn-disabled{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .5;
}
.btn-plus{
    border-radius: 100%;
    background-color:$btn_plus_background_color;
    border-color:$btn_plus_background_color;
    color: $btn_plus_font_color;
    padding: 12px 18px;
    :hvoer{
        background-color:$btn_plus_hover_color;
        border-color:$btn_plus_hover_color;
    }
}
.btn-outline{
    &.btn-primary{
        color:$btn_primary_background_color;
    }
    &.btn-danger{
        color:$btn_danger_background_color;
    }
    &.btn-warning{
        color:$btn_warning_background_color;
    }
    &.btn-success{
        color:$btn_success_background_color;
    }
    &.btn-info{
        color:$btn_info_background_color;
    }
}
.btn-outline{
    background: transparent;
    color:#000;
    &:hover{
        color:#fff;
    }
}

//table
.table{
   overflow: auto;
    &.table-center{
        tr,th,td{
            text-align: center;
        }
        
    }
    &.row-color{
        tbody{
            tr{
                &:nth-child(even) {
                    background-color: $row_background_color;
                }
                &:hover{
                    background-color: $row_hover_color;
                }
            }
        }
    }
    &.full-color{
            thead{
                tr{
                    background-color:$thead_background; 
                    
                    th{
                        color:$th_font_color;
                    }
                }
            }
            tbody{
            tr{
                &:nth-child(even) {
                    background-color: $row_background_color;
                }
                &:hover{
                    background-color: $row_hover_color;
                }
            }
        }
        }
    table{
        
        width:100%;
        thead{
            tr{
                border: 1px solid $table_border_color;
                th{
                    padding: 8px;
                    display: table-cell;
                    text-align: left;
                    vertical-align: middle;
                    border-radius: 2px;
                    font-weight: bold;
                    border-color: #fff;
                    border-right: 1px solid $table_border_color;
                    border-bottom: 2px solid $table_border_color;
                    min-width: 100px;
                }
            }
        }
        tbody{
            tr{
                border-top:none; 
                border: 1px solid $table_border_color;

                td{
                    border-right:1px solid $table_border_color; 
                    padding: 8px;
                    min-width: 100px;

                }
            }
        }
    }
}
//dropdowns
.has_dropdown{
    border: 1px solid #ddd;
    padding: 15px;
}